/* General section */

body {
    font-family: 'Lato', sans-serif;
}

.primary-color {
    color: #E55473;
}

.button-styling {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.general-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.general-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Header */

header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 150px 0px;
    margin-bottom: 178px;
}

.heading-header {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
}

.paragraph-header {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
}


/* Main section */

/* First section */
.first-section-div {
    display: flex;
    gap: 24px;
    justify-content: center;
    /* position: relative; */
}

.general-flower {
    border-radius: 300px 300px 0px 0px;
    width: 350px;
    height: 470px;
    padding-left: 40px;
}

.general-flower img {
    height: 471px;
    width: 314px;
}

.flower1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.flower2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.flower3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-caption {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Second section */
.second-section-div {
    display: flex;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 200px;
    background: rgba(39, 39, 39, 0.05);
    gap: 80px;
    margin: auto;
    margin-top: 100px;
    padding-left: 70px;
}

/* Third section */
.third-section {
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 128px;
    gap: 150px;
    padding: 50px;
    height: 500px;
}


.third-section-div {
    text-align: center;
    padding: 100px;
}


.third-section-image {
    width: 318px;
    height: 420px;
    padding: 80px;
}


/* Fourth section */
.fourth-section {
    align-items: center;
    margin-top: 128px;
    margin-bottom: 150px;
}

.rectangle {
    display: flex;
    gap: 24px;
    margin-left: 225px;
}

.rectangle img {
    width: 250px;
    height: 300px;
}

/* Fifth section */
.fifth-section-div {
    background-image: url('Flower-Asset/Rectangle\ 9.png');
    margin: auto;
    width: 1200px;
    height: 400px;
    padding-top: 50px;
}

form {
    padding-left: 150px;
}

form input {
    width: 700px;
    height: 70px;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    border: none;
}

/* Footer */

footer {
    height: 350px;
    background-color: #111010;
    margin-top: 120px;
}

.heading-footer {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 50px;
}

.paragraph-footer {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

.footer-section-div {
    text-align: center;
}

/* Extra section */

.extra-section {
    background-color: hotpink;
    height: 650px;
    margin-top: 120px;
}

.extra-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    padding-left: 50px;
}

.font-color {
    color: rgb(255, 193, 204);
}

.extra-div {
    display: flex;
    justify-content: space-between;
}

.extra-div p{
    padding-left:50px ;
}

.extra-div button{
    margin-left: 50px;
}